@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* Define container */
.container {
    margin: auto;

    /* Extra small */
    width: auto;

    // Add padding
    padding: 0 15px;

    /* Small */
    @media (min-width: 576px) {
      width: 540px;
    }
    /* Medium */
    @media (min-width: 768px) {
      width: 720px;
    }
    /* Large */
    @media (min-width: 992px) {
      width: 960px;
    }
    @media (min-width: 1200px) {
      width: 1200px;
    }
  }

/* define helvetica font */
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.woff') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: Helvetica;
}

// Blogposts
.post {
    img {
        @apply h-56 w-full object-cover object-center rounded-md;
    }
}
